<h3>Welcome</h3>
<p><%= link_to 'Device:', devices_path %> <%= Device.count %> registered</p>
<p><%= link_to 'Customers:', customers_path %> <%= Customer.count %> registered</p>
<p><%= link_to 'Sessions:', sessions_path %> <%= Session.count %> registered</p>

<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
